<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid  min-vh-100 align-items-center justify-content-center"
        style="background-color: #000000;">

        <div class="justify-content-between d-flex">
            <div>
                <h1 class="display-5 text-light mb-1 pt-5 px-5 fw-bold"><span
                        style="color: #43A047">musicRoulette</span><span style="color: #ffffff">.io</span>
                </h1>
            </div>

            <div>
                <h1 class="display-5 text-light mb-1 pt-5 px-5 fw-bold" id="genre_indicator"></h1>
            </div>
        </div>

        <h1 class="display-5 text-light mb-5 px-5 fw-bold" id="lobby_number">Lobby:</h1>
        <h1 class="display-5 text-light mb-5 px-5 fw-bold d-none" id="time">Time:</h1>
        <h1 class="display-5 text-light mb-5 px-5 fw-bold d-none" id="category_header">Choose your genre:</h1>

        <!---------------- Error Modal ---------------->
        <div class="modal fade my-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">An Error Has Occured, Please Reload</h1>
                    </div>
                    <div class="modal-body" id="modal_text">
                    </div>
                    <div class="modal-footer">
                        <a href="/spotifylogin" class="">
                            <button type="button" class="btn btn-primary">Reload Application</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" id="modal_button" class="btn btn-primary d-none" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
        </button>

        <!---------------- Joined Players list ---------------->
        <div class="d-none" id="lobby">
            <div class="justify-content-center mx-auto align-items-center d-flex">
                <ul class="list-group list-group-flush bg-transparent col-md-7 col-10" id="">
                    <li
                        class="p-2 fw-bold text-center list-group-item bg-primary border border-light text-light rounded-top">
                        ---
                        Joined
                        Players ---
                    </li>

                    <div id="joined_players_list">

                    </div>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <div class="justify-content-between d-flex col-md-7 col-10 mt-3">
                    <button type="button" class="btn btn-outline-light fw-bold" id="" onclick="history.back()">&lt;
                        Leave</button>



                    <button type="button" class="btn btn-outline-light fw-bold" id="start_button">Start Game
                        &gt;</button>
                </div>
            </div>
            <div class="d-flex justify-content-center my-3">
                <div class="btn-group " role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-success fw-bold" for="btnradio1">5 Rounds</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-success fw-bold" for="btnradio2">10 Rounds</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-success fw-bold" for="btnradio3">15 Rounds</label>
                </div>
            </div>
        </div>

        <!---------------- Genre Selection ---------------->

        <div class="container d-none" id="genre_div">
            <div id="genre_selection">
                <div class="justify-content-center align-items-center d-flex mx-auto my-2">
                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Rock</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Disney</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Country</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Latin</button>
                    </div>

                </div>

                <div class="justify-content-center align-items-center d-flex mx-auto my-3">
                    <div class="mx-2">
                        <button type="button" class="btn btn-lg btn-outline-light rounded-pill">Hip Hop</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-lg btn-outline-light rounded-pill">Indie</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-lg btn-outline-light rounded-pill">Pop</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-lg btn-outline-light rounded-pill">R&B</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-lg btn-outline-light rounded-pill">EDM</button>
                    </div>
                </div>

                <div class="justify-content-center align-items-center d-flex mx-auto my-2">
                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Workout</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Classical</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Party</button>
                    </div>

                    <div class="mx-2">
                        <button type="button" class="btn btn-outline-light rounded-pill">Metal</button>
                    </div>
                </div>
            </div>

            <div class="justify-content-center align-items-center d-flex mx-auto my-5 col-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control bg-transparent text-light" id="genre_custom_input"
                        placeholder="Choose your own genre" aria-label="" aria-describedby="button-addon2">
                    <button class="btn btn-outline-light" type="button" id="genre_custom_input">></button>
                </div>
            </div>
        </div>

        <!---------------- Round Number ---------------->

        <div class="d-flex justify-content-center align-items-center d-none" id="round_number">
            <h1 class="display-5 text-light mt-5 pt-5 px-5 fw-bold" id="round_num">Round 1/10</h1>
        </div>

        <!---------------- Music Player & Selection Cards ---------------->
        <div class="d-flex justify-content-center align-items-center d-none row" id="round">
            <div class="bg-transparent border border-light col-11 col-lg-7 rounded row p-1 p-md-4" id="music_box">
                <div class="col-lg-3 col-md-4 col-5"><img id="album_image" src="album-placeholder.png"
                        class="img-thumbnail" alt="Responsive image">
                </div>
                <div class="col-lg-6 col-7 pt-4">
                    <h2 class="text-light fw-bold fst-italic" id="song_title">Song title</h2>
                    <!--<h3 class="text-light fw-bold fst-italic" id="song_artist">Artist</h3>-->
                </div>
                <div class="col d-md-flex d-none align-items-center justify-content-center">
                    <button id="play_button" type="button" class="btn btn-outline-light btn-circle btn-sm"
                        value="false">▷</button>
                </div>
            </div>

            <div id="player_choices" class="row mt-1 col-md-7 col-11">
                <div class="row mt-3">
                    <div class="border border-light col p-4 m-2 text-center" id="player_card" value="false">
                        <h4 class="text-light fw-bold">card1</h4>
                    </div>

                    <div class="border border-light col p-4 m-2 text-center" id="player_card" value="false">
                        <h4 class="text-light fw-bold">card2</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="border border-light col p-4 m-2 text-center" id="player_card" value="false">
                        <h4 class="text-light fw-bold">card3</h4>
                    </div>

                    <div class="border border-light col p-4 m-2 text-center" id="player_card" value="false">
                        <h4 class="text-light fw-bold">card4</h4>
                    </div>
                </div>
            </div>
        </div>

        <!---------------- Scoreboard ---------------->
        <div class="" id="score">
            <div class="justify-content-center mx-auto align-items-center d-flex">
                <ul class="list-group list-group-flush bg-transparent col-md-7 col-10" id="">
                    <li
                        class="p-2 fw-bold text-center list-group-item bg-primary border border-light text-light rounded-top">
                        ---
                        Scoreboard ---
                    </li>
                    <div id="scoreboard">
                        <li
                            class="justify-content-between d-flex text-light list-group-item bg-transparent border border-light text-light pt-3">
                            <p class="h5">Kito</p>
                            <p class="h5">5</p>
                        </li>
                    </div>
                </ul>
            </div>

            <!---------------- End Game   onclick="history.back() ---------------->
            <div class="d-flex justify-content-center d-none" id="end_buttons">
                <div class="justify-content-between d-flex col-md-7 col-10 mt-3">
                    <button type="button" id="return" class="btn btn-outline-light fw-bold" id="" ">&lt;
                        Return to Lobby</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"
                        integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng=="
                        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        <script src="/socket.io/socket.io.js"></script>
                        <script src="js/main.js"></script>
                        <script language="javascript" src="js/bootstrap.js"></script>

</body>

</html>>