#lobby {
    opacity: 0;
    transition: opacity .25s;
}

#round_number {
    opacity: 0;
    transition: .25s;
}

#round_num {
    opacity: 100;

}

#round {
    opacity: 0;
    transition: opacity .25s;
}

#time {
    opacity: 0;
    transition: opacity .25s;
}

#lobby_number {
    opacity: 1;
    transition: opacity .25s;
}

#genre_div {
    opacity: 0;
    transition: opacity .25s;
}

#category_header {
    opacity: 0;
    transition: opacity .25s;
}



#create_game_input {
    opacity: 0;
}

#create_game {
    background-color: transparent !important;
}

#create_game:hover {
    background-color: gray !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#end_buttons {
    opacity: 0;
    transition: opacity .25s;
}

#join_game {
    background-color: transparent !important;
}

#join_game:hover {
    background-color: gray !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#play_button {
    width: 4em;
    height: 2em;
    padding: 6px 0px;
    border-radius: 0.5em;
    font-size: 1.73em;
    text-align: center;
}

#album_image {
    object-fit: contain;
    height: 10em;
    width: 10em;
    background-color: transparent;
    border: 0;
}

#player_card {
    transition: background-color 1s;
    background-color: transparent;
}

#player_card:hover {
    transition: background-color 1s;
    background-color: gray;
}


#main {
    background-image: url('spot2.jpg');
    background-size: cover;
    background-position: center;
}

#score {
    opacity: 0;
    transition: opacity .25s;
}

#genre_indicator {
    opacity: 0;
    transition: opacity .5s;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(199, 199, 199);
    opacity: 1;
    /* Firefox */
}

/* Chrome */
.form-range::-webkit-slider-thumb {
    background: #43A047;
}

/* Firefox */
.form-range::-moz-range-thumb {
    background: #43A047;
}

/* Internet Explorer / Microsoft */
.form-range::-ms-thumb {
    background: #43A047;
}

div {
    box-sizing: border-box;
}